%base--a {
  color: setting-get('primary color');
  font-weight: setting-get('bold weight font');
  text-decoration: underline;

  &:hover,
  &:focus {
    color: color('grayscale', 70);
    text-decoration: none;
  }
}
