@mixin base--a($color: null, $background: null) {
  $color: setting-pick('primary color', $color);
  $background: setting-pick('background color', $background);

  color: $color;
  font-weight: setting-get('bold weight font');

  @include underline($background, $color);

  &:hover,
  &:focus {
    color: color-shade($color, 20);
    @include underline($background, color-shade($color, 20));
  }
}
