%base--radio {
  display: none;

  + label {
    position: relative;

    &:before {
      content: '';
      border: $input-border-width solid color('gray', 30);
      border-radius: 50%;
      display: inline-block;
      height: 1em;
      width: 1em;
      margin-right: 1em;
      vertical-align: middle;

    }
  }

  &:checked + label:after {
    content: '';
    background: color('gray', 80);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    width: .5em;
    height: .5em;
    top: .415em;
    left: .425em;
  }
}
