// @import '../../../core/sass/core';

@import 'partials/vars';
@import 'partials/settings';
@import 'partials/mixins';
@import 'partials/extends';

.base--button,
.base--STYLED button {
  @extend %base--button;

  &[type='submit'] {
    background-color: setting-get('background color');
    border: 3px solid setting-get('secondary accent color');
    color: setting-get('secondary color');
    &:hover {
      background-color: setting-get('secondary color');
      border: 3px solid setting-get('secondary color');
      color: color('white');
    }
  }

  &[type='reset'] {
    background-color: setting-get('background color');
    border: 3px solid color('gray', 30);
    color: color('gray', 60);
    &:hover {
      background-color: color('gray', 60);
      border: 3px solid color('gray', 60);
      color: color('white');
    }
  }
}
