[library-class='banner'] {
  background-color: color('neutral-white', 40);
  background-image: url(../images/homepage/homepage-watermark.svg);
  background-repeat: no-repeat;
  background-size: 28.5em, auto, contain;
  background-position: 50% -4rem;
  padding: 2rem 0;
  @include breakpoint(900px) {
    padding: 6rem 0 2rem;
    background-size: 70rem;
      background-position: 50% 40%;
  }
}
[library-class='banner-title'] {
  @include breakpoint(setting-get('large typography breakpoint'));
  font-size: ms(9);
}
[library-class='banner-title'] span {
  font-weight: normal;
  color: setting-get('text color');
}
