[library-class='main-content--footer'] {
  clear: both;
  @include clearfix;

  [library-class='_library--stretch-container'] & {
    margin-top: 0;
    padding-top: setting-get('rhythm');
    padding-bottom: setting-get('rhythm');
    background-color: color('neutral-white', 40);
  }
}

[library-class='main-content--back-to-top'] {
  display: block;
  text-align: right;
  color: setting-get('text color');
  text-decoration: none;

  [library-class='main-content--section-link'] {
    color: setting-get('text color');

    padding-bottom: setting-get('rhythm') / 4;
    border-bottom: 1px solid;

    &:hover {
      [library-class='icon'] {
        transform: translateY(-.25em);
      }
    }
  }

  [library-class='icon'] {
    display: inline-block;
    margin-top: 0;
    transition: all 0.2s map-get($timing-functions, ease-in);
  }
}

[library-class='main-content--section-nav'] {
  text-align: right;

  border-top: 3px solid color('grayscale', 40);
  padding-top: setting-get('rhythm');
  margin-top: setting-get('rhythm');
  margin-bottom: setting-get('rhythm');

  color: setting-get('text color');
}

%__library--holder {
  background: transparent;
  display: inline-block;
  margin-top: 0;
  transform: translateY(-.5em);

  &:hover {
    cursor: pointer;
  }

  [library-class='icon'] {
    display: inline-block;
    margin-top: 0;
    font-size: 2em;
    transform: translateY(.25em);
    transition: all 0.2s map-get($timing-functions, ease-in);
  }
}

[library-class='main-content--previous'] {
  @extend %__library--holder;
  color: setting-get('text color');
  margin-right: setting-get('rhythm') / 2;

  [library-class='main-content--section-link'] {
    color: setting-get('text color');
  }

  &:hover {
    [library-class='icon'] {
      transform: translateX(-.25em) translateY(.25em);
    }
  }
}

[library-class='main-content--next'] {
  @extend %__library--holder;
  color: setting-get('secondary color');
  margin-left: setting-get('rhythm') / 2;


  [library-class='main-content--section-link'] {
    color: setting-get('secondary color');
  }

  &:hover {
    [library-class='icon'] {
      transform: translateX(.25em) translateY(.25em);
    }
  }
}

[library-class='main-content--section-link'] {
  text-decoration: none;
  display: inline-block;
}
