//timing functions
$ibm-easein: cubic-bezier(.240, 0, .285, .995);
$ibm-easeout: cubic-bezier(.725, .005, .695, 1);

$ibm-bounceout: cubic-bezier(.520, -.270, .345, 1.005);
$ibm-bouncein: cubic-bezier(.805, .005, .410, 1.280);
$ibm-bounceinout: cubic-bezier(.555, -.270, .370, 1.350);

$ibm-snapin: cubic-bezier(1, 0, .765, 1);
$ibm-snapout: cubic-bezier(.155, 0, 0, .995);
$ibm-snapinout: cubic-bezier(.920, .010, .050, 1);

$animations: (
  'fade-in': (
    0%: (
      opacity: 0
    ),
    100%: (
      opacity: 1
    )
  ),
  'slide-in' : (
    0%: (
      transform: translateY(-100%)
    ),
    100%: (
      transform: translateY(0)
    )
  )
);
