//////////////////////////////
// Modular Scale
//////////////////////////////
$ms-base: 1em;
$ms-ratio: 1.333, 1.25;

//////////////////////////////
// Font Stack
//////////////////////////////
$font--sans: 'Helvetica Neue', Helvetica, 'Open Sans', Arial, 'Lucida Grande', 'Roboto', sans-serif;
$font--mono: 'Courier New', 'Lucida Console', monospace;
$font-weight--light: 300;

//////////////////////////////
// Typography Breakpoints
//////////////////////////////
$large-typography: 500px;
