//////////////////////////////
// Modular Scale
//////////////////////////////
$ms-ratio: 1.25;
$ms-base: $ms-ratio * 1em;

//////////////////////////////
// Font Stack
//////////////////////////////
$font--sans: 'Helvetica Neue', Helvetica, 'Open Sans', Arial, 'Lucida Grande', 'Roboto', sans-serif;
$font--mono: 'Courier New', 'Lucida Console', monospace;
$font-weight--light: 300;
