%base--text-input {
  @extend %font--sans;
  border: 1px solid $text-input-border--color;
  font-size: 1em;
  padding: $text-input-padding;
  width: 100%;

  &:focus {
    box-shadow: inset 0 0 0 2px $text-input-border--color;
    outline: none;
  }
}
