%base--radio {
  opacity: 0; //hides input but its still there-- so thats hacky
  display: block;
  width: 100%;

  + label:before {
    content: "";
    border-radius: 50%;
    border: 3px solid lightgrey;
    display: inline-block;
    height: 1em;
    margin-right: 1em;
    vertical-align: middle;
    width: 1em;
  }

  &:checked + label:before {
    background: dimgrey;
    box-shadow: inset 0 0 0 3px white;
  }
}
