// @import '../../../input/sass/partials/extends';

%base--color-input {
  @extend %base--input;
  height: 3em;
  padding: .25em; //not actually reading this padding
  background: setting-get('white');
}
