// @import '../../../input/sass/partials/extends';

%base--select {
  @extend %base--input;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(triangle(setting-get('input border color'), $size: 1.75));
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: calc(100% - .3em) 1em;
  // background-position: top left;
}
