@import '../../../core/sass/core';

@import 'partials/vars';
@import 'partials/settings';
@import 'partials/mixins';
@import 'partials/extends';

.base--email-input,
.base--STYLED input[type="email"] {
  @extend %base--email-input;
}
