%base--thead {
  font-weight: bold;
  color: setting-get('white');
  background-color: color('gray');
}

%base--td {
  padding: 1em;
}

%base--tr {
  &:nth-of-type(even) {
    background-color: color('grayscale', 40);
  }
}
