@import '../../../core/sass/core';

@import 'partials/vars';
@import 'partials/settings';
@import 'partials/mixins';
@import 'partials/extends';

.base--inline-label,
.base--STYLED label {
  @extend %base--inline-label;
}

.base--block-label {
  @extend %base--block-label
}
