@import 'vars';

%base--input {
  @extend %font--sans;
  width: 100%;
  padding: setting-get('input padding');
  font-size: 1em;
  font-weight: 300;
  border: setting-get('input border width') solid setting-get('input border color');
  background-color: setting-get('background color');

  &:focus {
    outline: setting-get('input border width') solid setting-get('primary color');
    border-color: setting-get('primary color');
  }

  &:disabled {
    background-color: color('neutral-white', 40);
  }
}
