[library-class='example--LARGE'] {
  [library-class='example--body'] {
    font-size: .8em;
    max-width: 411px;
    margin-top: setting-get('rhythm') / 2;
  }
}

[library-class='example--SMALL'] {
  [library-class='example--description'] {
    font-size: .8em;
  }

  [library-class='media'] {
    margin-top: setting-get('rhythm') / 2;
  }
}


[library-class='example--title'] {
  @extend %base--strong;
}

[library-class='example--description'] {
  margin-top: setting-get('rhythm') / 2;
}

[library-class='example--SMALL'] {
  float: left;
  width: 100%;

  &:nth-of-type(2n + 1) {
    clear: both;
    margin-top: setting-get('rhythm');
  }

  &:nth-of-type(1) {
    margin-top: 0;
  }

  @include breakpoint(442px) {
    width: 50%;

    &:nth-of-type(2) {
      margin-top: 0;
    }

    &:nth-of-type(odd) {
      padding-right: setting-get('rhythm') / 4;
    }

    &:nth-of-type(even) {
      padding-left: setting-get('rhythm') / 4;
    }
  }

  @include breakpoint(557px) {
    width: 100%;

    &:nth-of-type(2) {
      margin-top: setting-get('rhythm');
    }

    &:nth-of-type(odd) {
      padding-right: 0;
    }

    &:nth-of-type(even) {
      padding-left: 0;
    }
  }


  @include breakpoint(685px) {
    width: 50%;

    &:nth-of-type(1) {
      margin-top: 0;
    }

    &:nth-of-type(2) {
      margin-top: 0;
    }

    &:nth-of-type(odd) {
      padding-right: setting-get('rhythm') / 2;
    }

    &:nth-of-type(even) {
      padding-left: setting-get('rhythm') / 2;
    }
  }
}

[library-class^='example--negative'] {
  color: color('red');
}

[library-class^='example--positive'] {
  color: color('green');
}
