[library-class='footer'] {
  display: table-row;
  height: 1px;

  font-size: .75em;
  text-align: center;

  @include breakpoint(542px) {
    text-align: left;
  }

  [library-class='_library--container'] {
    padding: setting-get('rhythm');
  }
}

[library-class='footer--link'] {
  @include base--a(setting-get('text color'), color('grayscale', 50));
}

[library-class='footer--issues'],
[library-class='footer--code'] {
  display: inline-block;
  margin: 0 setting-get('rhythm') / 4;

  @include breakpoint(max-width 303px) {
    display: block;
    margin-left: -1em;
    margin-right: 0;
  }
}

[library-class='footer--github'] {
  @include breakpoint(542px) {
    float: left;
  }
}

[library-class='footer--licenses'] {
  display: block;

  @include breakpoint(542px) {
    float: right;
    text-align: right;
    margin-top: 0;
  }
}

[library-class='footer--code-license'] {
  margin-top: 0;
}
