[library-class='home-container--children'] {
  @include clearfix;
}

[library-class~='home'][library-class~='_library--container'] {
  margin-top: setting-get('rhythm');

  @include breakpoint(699px) {
    padding: setting-get('rhythm') 0;
  }
}

[library-class='home-children'] {
  position: relative;

  @include breakpoint(699px) {
    margin-top: 0;
    width: 100 / 3 * 1%;
    min-height: 285px;
    position: relative;
    float: left;
    padding-left: setting-get('rhythm') / 2;
    padding-right: setting-get('rhythm') / 2;

    &:nth-of-type(1) {
      padding-left: 0;
      padding-right: setting-get('rhythm') / 2;

      [library-class='home-children--link'] {
        width: calc(100% - #{setting-get('rhythm') / 2});
      }
    }

    &:nth-of-type(2) {
      [library-class='home-children--link'] {
        width: calc(100% - #{setting-get('rhythm')});
      }
    }

    &:nth-of-type(3) {
      padding-right: 0;
      padding-left: setting-get('rhythm') / 2;

      [library-class='home-children--link'] {
        width: calc(100% - #{setting-get('rhythm') / 2});
      }
    }
  }

  @include breakpoint(884px) {
    min-height: 245px;
  }
}


a[library-class='home-children--link'] {
  text-decoration: none;
  border: 3px solid;
  border-color: setting-get('primary accent color');
  padding: 0.75em 1em;
  display: block;
  background-image: none;
  text-align: center;
  max-width: 295px;

  &:hover,
  &:focus {
    border-color: setting-get('primary color');
    color: white;
    text-shadow: none;
    background-image: none;
    background-color: setting-get('primary color');
  }

  @include breakpoint(700px) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
