@import '../../../core/sass/core';

@import 'partials/vars';
@import 'partials/settings';
@import 'partials/mixins';
@import 'partials/extends';

.base--strong,
.base--STYLED strong {
  @extend %base--strong;
}
