@import '../../../core/sass/core';

@import 'partials/vars';
@import 'partials/settings';
@import 'partials/mixins';
@import 'partials/extends';

.base--color-input,
.base--STYLED input[type="color"] {
  @extend %base--color-input;
}
