{% import '_media.html' as _media %}

{% macro view(detail) %}
  <div library-class="detail">
    <div library-class="detail--display">
      {{ _media.object(detail) }}
    </div>
    <div library-class="detail--details">
      {% if detail.description %}
      <div library-class="detail--description">
        {{ detail.description|markdown | safe -}}
      </div>
      {% endif %}
      <dl library-class="detail--callouts">
        {% for callout in detail.callouts %}
        <dt library-class="detail--callout-title"><span library-class="detail--counter" aria-hidden>{{ loop.index }}.</span>{{ callout.title }}</dt>
        <dd library-class="a11y--hidden-focusable">{{ callout.description }}</dd>
        {% endfor %}
      </dl>
    </div>
  </div>
{% endmacro %}
