{% import '_media.html' as _media %}

<!-- Sentiment Builder -->
{% macro sentiment(example) %}
  {% if example.sentiment %}
    {% if example.sentiment|lower === 'positive' %}
      <span library-class="example--positive icon">(yes)</span>
    {% elseif example.sentiment|lower === 'negative' %}
      <span library-class="example--negative icon">(no)</span>
    {% endif %}
  {% endif %}
{% endmacro %}

<!-- Example Title -->
{% macro title(example) %}
  <p library-class="example--title">{{ sentiment(example) }}{{ example.title }}</p>
{% endmacro %}

<!-- Small Example -->
{% macro small(example) %}
<div library-class="example--SMALL">
  {{ title(example) }}
  {{ _media.object(example) }}
  {% if example.description %}
    <div library-class="example--description">{{ example.description|markdown | safe -}}</div>
  {% endif %}
</div>
{% endmacro %}

<!-- Large Example -->
{% macro large(example) %}
<div library-class="example--LARGE">
  {{ _media.object(example) }}
  <div library-class="example--body">
    {{ title(example) }}
    {% if example.description %}
      <div library-class="example--description">{{ example.description|markdown | safe -}}</div>
    {% endif %}
  </div>
</div>
{% endmacro %}

<!-- Compare examples -->
{% macro compare(examples) %}
<div library-class="_library--clearfix">
  {% for example in examples %}
    {{ small(example) }}
  {% endfor %}
</div>
{% endmacro %}
