// @import '../../../core/sass/core';

@import 'partials/vars';
@import 'partials/settings';
@import 'partials/mixins';
@import 'partials/extends';

pre[class^="language-"],
pre[class*=" language-"] {
  @extend %base--pre;
  background: color('grayscale', 90);

 > code[class^="language-"],
 > code[class*=" language-"] {
    color: color('grayscale', 50);
  }
}

.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
  color: color('white');
}

.token.comment {
  color: color('gray', 30);
}

.token.tag,
.token.constant,
.token.symbol,
.token.deleted,
.token.keyword {
  color: color('magenta', 30);
}

.token.boolean,
.token.number {
  color: color('purple', 20);
}

.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.inserted,
.token.function {
  color: color('green', 20);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: color('grayscale', 50);
}
.token.atrule,
.token.string,
.token.attr-value {
  color: color('yellow', 10);
}

.token.property {
  color: color('blue', 20);
}

.token.regex,
.token.important {
  color: color('orange', 20);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

