%base--h1 {
  font-size: ms(5);
  font-weight: setting-get('normal weight font');
  color: setting-get('secondary color');

  @include breakpoint(setting-get('large typography breakpoint')) {
    font-size: ms(6);
  }
}
