// @import '../../../input/sass/partials/extends';
@import 'settings';
@import 'mixins';

%base--range-input {
  @extend %base--input;
  height: setting-get('range height');
  padding: 0;
  background-color: setting-get('white');
  border-radius: setting-get('range height');
  box-shadow: inset 0 0 0 setting-get('range outline width') setting-get('input border color');

  &:hover,
  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: .5;
  }

  &::-moz-range-track {
    height: setting-get('range height');
    padding: 0;
    background-color: setting-get('white');
    border-radius: setting-get('range height');
    box-shadow: inset 0 0 0 setting-get('range outline width') setting-get('input border color');
  }

  @include range--thumb('webkit', 'slider');
  @include range--thumb('moz', 'range');
}
