@import '../../../input/sass/partials/extends';
@import 'vars';
@import 'mixins';

%base--range-input {
  @extend %base--input;

  height: $range-height;
  padding: 0;
  border-radius: $range-height;
  box-shadow: inset 0 0 0 $range-outline $base--input-border-color;

  &:hover,
  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: .5;
  }

  @include clear-appearance;
  @include range--thumb('webkit');
  @include range--thumb('moz');
  @include range--thumb;
}
