@mixin range--thumb($prefix: null, $range: null) {
  @if $prefix != null {
    $prefix: '-#{$prefix}-';
  }

  &::#{$prefix}#{$range}-thumb {
    #{$prefix}appearance: none;
    width: $range-thumb-size;
    height: $range-thumb-size;
    background: color('white');
    border-radius: $range-thumb-size;
    box-shadow: inset 0 0 0 $range-outline*1.5 setting-get('input border color');
    transition-duration: .5s;
  }

  &:active::#{$prefix}#{$range}-thumb {
    box-shadow: inset 0 0 0 $range-outline*10 setting-get('input border color');
    width: $range-thumb-size*1.25;
    height: $range-thumb-size*1.25;
  }
}
